form{
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 30px -15px;
    border: 2px solid rgba(211, 211, 211, 0.397);
    margin: 20px auto;
    width: 30%;
    height: 32px;
    text-align: center;
}
